/*section login */
#dsp {
  display: block;
}

#welcome {
  display: none;
}

/* circular style logo */
.logo {
  border-radius: 100vh;
  margin-top: 3vh;
  width: 30vh;
}

/* background vista login */
.login {
  background-color: rgba(209, 209, 209, 0.2);
  height: 100vh;
}

/* button login */
.bt-login {
  margin-bottom: 4vh;
}

#login {
 background-color: rgb(212, 67, 50);
 border: none;
}

#login1 {
 background-color: rgb(57, 84, 161);
 border: none;
 color: #fff;
}

#login2 {
 background-color: rgb(29, 161, 242);
 border: none;
 color: #fff;
}

/*Estilos del perfil del usuario*/
#container-profile {
  display: block;
  border: 2px solid green;
}
.img-us {
  width: 100px;
}
.name-us {
  color: red;
}
.email-us {
  color: orange;
}
