/*section login */
#dsp {
  display: block;
}

#welcome {
  display: none;
}

/* circular style logo */
.logo {
  border-radius: 100vh;
  margin-top: 3vh;
  width: 30vh;
}

/* background vista login */
.login {
  background-color: rgba(209, 209, 209, 0.2);
  height: 100vh;
}

/* button login */
.bt-login {
  margin-bottom: 4vh;
}
